openapi: 3.0.3
info:
  title: Render Blueprints Metrics API
  description: The Render REST API programmatically manages resources on the Render cloud application platform (PaaS). It exposes almost all of the functionality available in the Render Dashboard - services (web services, static sites, private services, background workers, cron jobs), deploys, custom domains, environment variables and groups, secret files, managed Postgres and Key Value (Redis-compatible) datastores, one-off jobs, persistent disks, Blueprints, projects and environments, workspaces and members, registry credentials, metrics, logs, and webhooks. All requests are authenticated with a Bearer API key created in the Render Dashboard. Real-time log streaming is available over a WebSocket surface (see the companion AsyncAPI document). This OpenAPI document models the REST surface; a subset of endpoints is confirmed against Render's public API reference and the remainder follow Render's documented, consistent REST conventions.
  version: '1.0'
  contact:
    name: Render
    url: https://render.com
  license:
    name: Proprietary
    url: https://render.com/terms
servers:
- url: https://api.render.com/v1
  description: Render Public API
security:
- bearerAuth: []
tags:
- name: Metrics
  description: Time-series metrics for services and datastores.
paths:
  /metrics/cpu:
    get:
      operationId: getCpuMetrics
      tags:
      - Metrics
      summary: Get CPU metrics
      parameters:
      - $ref: '#/components/parameters/MetricResource'
      responses:
        '200':
          description: CPU time series.
  /metrics/memory:
    get:
      operationId: getMemoryMetrics
      tags:
      - Metrics
      summary: Get memory metrics
      parameters:
      - $ref: '#/components/parameters/MetricResource'
      responses:
        '200':
          description: Memory time series.
  /metrics/bandwidth:
    get:
      operationId: getBandwidthMetrics
      tags:
      - Metrics
      summary: Get bandwidth metrics
      parameters:
      - $ref: '#/components/parameters/MetricResource'
      responses:
        '200':
          description: Bandwidth time series.
  /metrics/instance-count:
    get:
      operationId: getInstanceCountMetrics
      tags:
      - Metrics
      summary: Get instance count metrics
      parameters:
      - $ref: '#/components/parameters/MetricResource'
      responses:
        '200':
          description: Instance count time series.
  /metrics/http-requests:
    get:
      operationId: getHttpRequestMetrics
      tags:
      - Metrics
      summary: Get HTTP request metrics
      parameters:
      - $ref: '#/components/parameters/MetricResource'
      responses:
        '200':
          description: HTTP request time series.
  /metrics/active-connections:
    get:
      operationId: getActiveConnectionMetrics
      tags:
      - Metrics
      summary: Get active connection metrics
      parameters:
      - $ref: '#/components/parameters/MetricResource'
      responses:
        '200':
          description: Active connection time series.
components:
  parameters:
    MetricResource:
      name: resource
      in: query
      required: true
      schema:
        type: array
        items:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Render API key created in the Render Dashboard, sent as an Authorization Bearer token.
