openapi: 3.0.3
info:
  title: Render Blueprints Environments API
  description: The Render REST API programmatically manages resources on the Render cloud application platform (PaaS). It exposes almost all of the functionality available in the Render Dashboard - services (web services, static sites, private services, background workers, cron jobs), deploys, custom domains, environment variables and groups, secret files, managed Postgres and Key Value (Redis-compatible) datastores, one-off jobs, persistent disks, Blueprints, projects and environments, workspaces and members, registry credentials, metrics, logs, and webhooks. All requests are authenticated with a Bearer API key created in the Render Dashboard. Real-time log streaming is available over a WebSocket surface (see the companion AsyncAPI document). This OpenAPI document models the REST surface; a subset of endpoints is confirmed against Render's public API reference and the remainder follow Render's documented, consistent REST conventions.
  version: '1.0'
  contact:
    name: Render
    url: https://render.com
  license:
    name: Proprietary
    url: https://render.com/terms
servers:
- url: https://api.render.com/v1
  description: Render Public API
security:
- bearerAuth: []
tags:
- name: Environments
  description: Environments within a project.
paths:
  /environments:
    get:
      operationId: listEnvironments
      tags:
      - Environments
      summary: List environments
      responses:
        '200':
          description: A list of environments.
    post:
      operationId: createEnvironment
      tags:
      - Environments
      summary: Create an environment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created environment.
  /environments/{environmentId}:
    parameters:
    - name: environmentId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveEnvironment
      tags:
      - Environments
      summary: Retrieve an environment
      responses:
        '200':
          description: The requested environment.
    patch:
      operationId: updateEnvironment
      tags:
      - Environments
      summary: Update an environment
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated environment.
    delete:
      operationId: deleteEnvironment
      tags:
      - Environments
      summary: Delete an environment
      responses:
        '204':
          description: The environment was deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Render API key created in the Render Dashboard, sent as an Authorization Bearer token.
