openapi: 3.0.3
info:
  title: Render Blueprints Key Value API
  description: The Render REST API programmatically manages resources on the Render cloud application platform (PaaS). It exposes almost all of the functionality available in the Render Dashboard - services (web services, static sites, private services, background workers, cron jobs), deploys, custom domains, environment variables and groups, secret files, managed Postgres and Key Value (Redis-compatible) datastores, one-off jobs, persistent disks, Blueprints, projects and environments, workspaces and members, registry credentials, metrics, logs, and webhooks. All requests are authenticated with a Bearer API key created in the Render Dashboard. Real-time log streaming is available over a WebSocket surface (see the companion AsyncAPI document). This OpenAPI document models the REST surface; a subset of endpoints is confirmed against Render's public API reference and the remainder follow Render's documented, consistent REST conventions.
  version: '1.0'
  contact:
    name: Render
    url: https://render.com
  license:
    name: Proprietary
    url: https://render.com/terms
servers:
- url: https://api.render.com/v1
  description: Render Public API
security:
- bearerAuth: []
tags:
- name: Key Value
  description: Redis-compatible Key Value datastores.
paths:
  /key-value:
    get:
      operationId: listKeyValue
      tags:
      - Key Value
      summary: List Key Value instances
      responses:
        '200':
          description: A list of Key Value instances.
    post:
      operationId: createKeyValue
      tags:
      - Key Value
      summary: Create a Key Value instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created Key Value instance.
  /key-value/{keyValueId}:
    parameters:
    - name: keyValueId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveKeyValue
      tags:
      - Key Value
      summary: Retrieve a Key Value instance
      responses:
        '200':
          description: The requested Key Value instance.
    patch:
      operationId: updateKeyValue
      tags:
      - Key Value
      summary: Update a Key Value instance
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated Key Value instance.
    delete:
      operationId: deleteKeyValue
      tags:
      - Key Value
      summary: Delete a Key Value instance
      responses:
        '204':
          description: The Key Value instance was deleted.
  /key-value/{keyValueId}/connection-info:
    parameters:
    - name: keyValueId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveKeyValueConnectionInfo
      tags:
      - Key Value
      summary: Retrieve Key Value connection info
      responses:
        '200':
          description: Connection strings and credentials.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Render API key created in the Render Dashboard, sent as an Authorization Bearer token.
