openapi: 3.0.3
info:
  title: Render Blueprints Registry Credentials API
  description: The Render REST API programmatically manages resources on the Render cloud application platform (PaaS). It exposes almost all of the functionality available in the Render Dashboard - services (web services, static sites, private services, background workers, cron jobs), deploys, custom domains, environment variables and groups, secret files, managed Postgres and Key Value (Redis-compatible) datastores, one-off jobs, persistent disks, Blueprints, projects and environments, workspaces and members, registry credentials, metrics, logs, and webhooks. All requests are authenticated with a Bearer API key created in the Render Dashboard. Real-time log streaming is available over a WebSocket surface (see the companion AsyncAPI document). This OpenAPI document models the REST surface; a subset of endpoints is confirmed against Render's public API reference and the remainder follow Render's documented, consistent REST conventions.
  version: '1.0'
  contact:
    name: Render
    url: https://render.com
  license:
    name: Proprietary
    url: https://render.com/terms
servers:
- url: https://api.render.com/v1
  description: Render Public API
security:
- bearerAuth: []
tags:
- name: Registry Credentials
  description: Container registry credentials.
paths:
  /registrycredentials:
    get:
      operationId: listRegistryCredentials
      tags:
      - Registry Credentials
      summary: List registry credentials
      responses:
        '200':
          description: A list of registry credentials.
    post:
      operationId: createRegistryCredential
      tags:
      - Registry Credentials
      summary: Create a registry credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created registry credential.
  /registrycredentials/{registryCredentialId}:
    parameters:
    - name: registryCredentialId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveRegistryCredential
      tags:
      - Registry Credentials
      summary: Retrieve a registry credential
      responses:
        '200':
          description: The requested registry credential.
    patch:
      operationId: updateRegistryCredential
      tags:
      - Registry Credentials
      summary: Update a registry credential
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated registry credential.
    delete:
      operationId: deleteRegistryCredential
      tags:
      - Registry Credentials
      summary: Delete a registry credential
      responses:
        '204':
          description: The registry credential was deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Render API key created in the Render Dashboard, sent as an Authorization Bearer token.
