openapi: 3.0.3
info:
  title: Render Blueprints Deploys API
  description: The Render REST API programmatically manages resources on the Render cloud application platform (PaaS). It exposes almost all of the functionality available in the Render Dashboard - services (web services, static sites, private services, background workers, cron jobs), deploys, custom domains, environment variables and groups, secret files, managed Postgres and Key Value (Redis-compatible) datastores, one-off jobs, persistent disks, Blueprints, projects and environments, workspaces and members, registry credentials, metrics, logs, and webhooks. All requests are authenticated with a Bearer API key created in the Render Dashboard. Real-time log streaming is available over a WebSocket surface (see the companion AsyncAPI document). This OpenAPI document models the REST surface; a subset of endpoints is confirmed against Render's public API reference and the remainder follow Render's documented, consistent REST conventions.
  version: '1.0'
  contact:
    name: Render
    url: https://render.com
  license:
    name: Proprietary
    url: https://render.com/terms
servers:
- url: https://api.render.com/v1
  description: Render Public API
security:
- bearerAuth: []
tags:
- name: Deploys
  description: Build and release deploys for a service, plus rollback.
paths:
  /services/{serviceId}/deploys:
    parameters:
    - $ref: '#/components/parameters/ServiceId'
    get:
      operationId: listDeploys
      tags:
      - Deploys
      summary: List deploys
      responses:
        '200':
          description: A list of deploys for the service.
    post:
      operationId: createDeploy
      tags:
      - Deploys
      summary: Trigger a deploy
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The triggered deploy.
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /services/{serviceId}/deploys/{deployId}:
    parameters:
    - $ref: '#/components/parameters/ServiceId'
    - $ref: '#/components/parameters/DeployId'
    get:
      operationId: retrieveDeploy
      tags:
      - Deploys
      summary: Retrieve a deploy
      responses:
        '200':
          description: The requested deploy.
  /services/{serviceId}/deploys/{deployId}/cancel:
    parameters:
    - $ref: '#/components/parameters/ServiceId'
    - $ref: '#/components/parameters/DeployId'
    post:
      operationId: cancelDeploy
      tags:
      - Deploys
      summary: Cancel a deploy
      responses:
        '200':
          description: The canceled deploy.
  /services/{serviceId}/rollback:
    parameters:
    - $ref: '#/components/parameters/ServiceId'
    post:
      operationId: rollbackService
      tags:
      - Deploys
      summary: Roll back a service
      description: Roll a service back to a previous deploy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The rollback deploy.
components:
  parameters:
    ServiceId:
      name: serviceId
      in: path
      required: true
      schema:
        type: string
    DeployId:
      name: deployId
      in: path
      required: true
      schema:
        type: string
  responses:
    TooManyRequests:
      description: Rate limit exceeded. Returns a 429 with Ratelimit-Limit, Ratelimit-Remaining, and Ratelimit-Reset headers.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Render API key created in the Render Dashboard, sent as an Authorization Bearer token.
